<%- include("../partials/head.ejs",{title:'Registro'})  %> 
<%- include("../partials/menuHeader.ejs")  %> 
    <div class="contRegisTitu">
        <h3>Bienvenido!</h3>
        <div>
            <img src="img/oso.png" alt="oso">
        </div>
    </div>
    <!--REGISTRO-->
    <section class="detailregister">
        <div class="contregist">
            <div class="contRE">
                <%if(locals.errors) { %>
                    <% for(let item in errors){ %> 
                        <p><%= errors[item].msg %> </p>

                    <% } %> 
                <% } %> 
                <form class="registerForm" action="/register" method="POST">
                    <input type="text" placeholder="Nombre" name="nombre" id="nombre" value="<%= locals.oldData? locals.oldData.nombre:null %>"require/>
                    <input type="text" placeholder="Usuario" name="usuario" id="usuario" value="<%= locals.oldData? locals.oldData.usuario:null %>" require/>
                    <input type="email" placeholder="Email" name="email" id="email"  value="<%= locals.oldData? locals.oldData.Email:null %>"require/>
                    <input type="text" placeholder="Domicilio" name="direccion" id="direccion"  value="<%= locals.oldData? locals.oldData.direccion:null %>"require/>
                    <input type="tel" placeholder="Teléfono (opcional)" name="telefono" id="telefono"  value="<%= locals.oldData? locals.oldData.telefono:null %>"require/>
                    <input type="password" placeholder="Contraseña" name="contrasenia" id="contrasenia" require/> 
                    <input type="password" placeholder="Confirmar contraseña" name="contrasenia1" id="contrasenia1"require/>
                    <select name="categoria" id="categoria">
                        <option value="3">comprador</option>
                        <option value="2">vendedor</option>
                    </select>
                    <input type="submit" value="REGISTRARSE">
                    <p>¿Ya tenés una cuenta? <a href="/login">Iniciar sesión</a></p>
                </form>
            </div>
            
        </div>
    </section>
    <!--REGISTRO-->
<%- include("../partials/footerBase.ejs")  %> 